<p id="notice"><%= notice %></p>

<p>
  <strong>Wine:</strong>
  <%= @wine_oenologist.wine %>
</p>

<p>
  <strong>Oenologist:</strong>
  <%= @wine_oenologist.oenologist %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @wine_oenologist.nota %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @wine_oenologist.comment %>
</p>

<%= link_to 'Edit', edit_wine_oenologist_path(@wine_oenologist) %> |
<%= link_to 'Back', wine_oenologists_path %>
